In [1]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [8]:
df_accounts = spark.read \
    .format("csv") \
    .option("header","true") \
    .option("inferSchema","true") \
    .load('./data/accounts.csv')

df_accounts.show()

+---+----------+---------+---+-------+
| id|first_name|last_name|age|country|
+---+----------+---------+---+-------+
|  1|     Darcy| Phillips| 24|     YE|
|  2|    Amelia|   Wright| 66|     CN|
|  3|     Haris|    Ellis| 61|     CR|
|  4|      Tony|     Hall| 51|     JO|
|  5|     Rubie|  Stewart| 27|     RO|
|  6|     Miley|    Perry| 27|     ZA|
|  7|    Marcus|   Carter| 66|     CN|
|  8|   Charlie|   Harris| 22|     SR|
|  9|     Honey|   Rogers| 60|     IL|
| 10|      Luke|   Harris| 66|     IR|
| 11|     Spike|   Murphy| 57|     IN|
| 12|   Vincent|    Adams| 51|     CN|
| 13|     James|   Barnes| 56|     HK|
| 14|    George|   Bailey| 18|     AT|
| 15|    Sienna|   Holmes| 48|     ZW|
| 16|  Isabella|  Elliott| 47|     CO|
| 17|   Freddie|   Martin| 47|     SC|
| 18|      Kate|   Wright| 51|     BE|
| 19|    Albert|    Myers| 24|     BM|
| 20|    Connie|    Wells| 64|     SC|
+---+----------+---------+---+-------+
only showing top 20 rows

In [10]:
df_accounts.count()

500000

In [11]:
df_country_abbreviation = spark.read.format("csv") \
    .option("header","true") \
    .option("inferSchema","true") \
    .option("delimiter",";") \
    .load('./data/country_abbreviation-original.csv')

df_country_abbreviation.show()

+-----------------+------------+
|country_full_name|abbreviation|
+-----------------+------------+
|        Argentina|          AR|
|        Australia|          AU|
|          Austria|          AT|
|          Bahamas|          BS|
|          Bahrain|          BH|
|       Bangladesh|          BD|
|         Barbados|          BB|
|          Belgium|          BE|
|           Belize|          BZ|
|            Benin|          BJ|
|          Bermuda|          BM|
|          Bolivia|          BO|
|           Brazil|          BR|
|         Bulgaria|          BG|
|     Burkina Faso|          BF|
|            Chile|          CL|
|            China|          CN|
|         Colombia|          CO|
|       Costa Rica|          CR|
|   CÃ´te D' Ivoire|          CI|
+-----------------+------------+
only showing top 20 rows

In [12]:
df_country_abbreviation.count()

121

In [13]:
df_transactions = spark.read \
    .format("csv") \
    .option("header","true") \
    .option("inferSchema","true").option("delimiter",";") \
    .load('./data/transactions-original.csv')

df_transactions.show()

+------+-------+------------+----------------+-------+
|    id| amount|account_type|transaction_date|country|
+------+-------+------------+----------------+-------+
|179528|-730.86|    Business|      2013-07-10|     SV|
|378343|-946.98|    Personal|      2018-04-06|     YE|
| 75450|7816.92|Professional|      2016-11-20|     SI|
|357719| 704.02|    Business|      2016-11-06|     ID|
|110511| 3462.6|    Personal|      2018-01-18|     BS|
|461830| 762.81|Professional|      2017-06-20|     CN|
| 30180|5390.24|Professional|      2021-05-26|     GN|
| 65398|4765.77|    Personal|      2018-05-01|     TR|
|170899|8775.89|    Business|      2013-10-16|     SK|
|234300|8455.18|Professional|      2015-10-06|     LU|
|208027| 6244.1|    Business|      2020-03-06|     AE|
|161212|5904.56|    Personal|      2016-09-07|     EG|
|105372|4079.76|Professional|      2015-02-12|     MT|
|205321| 3570.4|Professional|      2012-07-02|     MU|
|410863|2328.83|    Business|      2012-12-20|     SR|
|486752| 5454.8|Professional|      2015-02-10|     CU|
|208564|8695.17|    Personal|      2013-01-03|     IT|
|196682|-905.87|    Personal|      2019-01-28|     HU|
|491196|8781.02|Professional|      2017-05-11|     IR|
|108286|3485.95|    Personal|      2011-12-13|     ZW|
+------+-------+------------+----------------+-------+
only showing top 20 rows

In [14]:
df_transactions.count()

5000000